body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    background-image: url("./images/Site-background.webp");
}

.sitetext {
    font-size: 1.5rem;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.textbox {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font: 0.9rem "Comic Sans MS";
    padding: 2.5rem;
    margin: 4rem;
    max-width: 50vw;
}

h1 {
    top: -20%;
}

.oplogo {
    width: 75vw;
    max-width: 440px;
    margin: 2.5rem 0;
}

.img {
    max-height: 15rem;
    height: 15vw;
}

.tadaR {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}